<section>
  <h1 class="text-center text-main my-2">Forgot Password</h1>

  @if (step == 1) {
    <form
      [formGroup]="verifyEmail"
      novalidate
      (ngSubmit)="onSubmit()"
      class="bg-main-light rounded-4 shadow p-3"
    >
      <!-- Enter Email -->
      <div class="my-2">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          [class.is-invalid]="
            verifyEmail.get('email')?.invalid &&
            verifyEmail.get('email')?.touched
          "
        />

        @if (
          verifyEmail.get("email")?.invalid && verifyEmail.get("email")?.touched
        ) {
          <div class="text-danger small mt-1">
            @if (verifyEmail.get("email")?.errors?.["required"]) {
              <span>Email is required.</span>
            }
            @if (verifyEmail.get("email")?.errors?.["email"]) {
              <span>Please enter a valid email address.</span>
            }
          </div>
        }
      </div>
      <button
        type="submit"
        [disabled]="verifyEmail.invalid"
        class="btn btn-main"
      >
        Verify Email
      </button>
    </form>
  } @else if (step == 2) {
    <form
      [formGroup]="verifyCode"
      novalidate
      (ngSubmit)="onSubmit()"
      class="bg-main-light rounded-4 shadow p-3"
    >
      <div class="my-2">
        <label for="code">Code</label>
        <input
          id="code"
          type="code"
          formControlName="code"
          class="form-control"
          [class.is-invalid]="
            verifyCode.get('code')?.invalid && verifyCode.get('code')?.touched
          "
        />

        @if (
          verifyCode.get("code")?.invalid && verifyCode.get("code")?.touched
        ) {
          <div class="text-danger small mt-1">
            @if (verifyCode.get("code")?.errors?.["required"]) {
              <span>code is required.</span>
            }
            @if (verifyCode.get("code")?.errors?.["code"]) {
              <span>Please enter a valid code.</span>
            }
          </div>
        }
      </div>
      <button
        type="submit"
        [disabled]="verifyCode.invalid"
        class="btn btn-main"
      >
        Verify code
      </button>
    </form>
  } @else if (step == 3) {
    <form
      [formGroup]="resetPassword"
      novalidate
      (ngSubmit)="onSubmit()"
      class="bg-main-light rounded-4 shadow p-3"
    >
      <!-- Email (hidden, since it's already known from step 1) -->
      <input type="hidden" formControlName="email" />

      <!-- New Password -->
      <div class="my-2">
        <label for="newPassword">New Password</label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          class="form-control"
          [class.is-invalid]="
            resetPassword.get('newPassword')?.invalid &&
            resetPassword.get('newPassword')?.touched
          "
        />

        @if (
          resetPassword.get('newPassword')?.invalid &&
          resetPassword.get('newPassword')?.touched
        ) {
          <div class="text-danger small mt-1">
            @if (resetPassword.get('newPassword')?.errors?.['required']) {
              <span>New password is required.</span>
            }
            @if (resetPassword.get('newPassword')?.errors?.['pattern']) {
              <span>Password must be at least 6 characters, with no spaces.</span>
            }
          </div>
        }
      </div>

      <button
        type="submit"
        [disabled]="resetPassword.invalid"
        class="btn btn-main"
      >
        Reset Password
      </button>
    </form>
  }

</section>
