<section>
  <h1 class="text-center text-main my-2">Forgot Password</h1>
<!-- Send Mail  -->
  @if (step == 1) {
    <form
      [formGroup]="verifyEmail"
      novalidate
      (ngSubmit)="verifyEmailSubmit()"
      class="bg-main-light rounded-4 shadow p-3"
    >
      <!-- Enter Email -->
      <div class="my-2">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          [class.is-invalid]="
            verifyEmail.get('email')?.invalid &&
            verifyEmail.get('email')?.touched
          "
        />

        @if (
          verifyEmail.get("email")?.invalid && verifyEmail.get("email")?.touched || errorMsg
        ) {
          <div class="text-danger small mt-1">
            @if (verifyEmail.get("email")?.errors?.["required"]) {
              <span>Email is required.</span>
            }
            @if (verifyEmail.get("email")?.errors?.["email"]) {
              <span>Please enter a valid email address.</span>
            }@if(errorMsg){
              <span>{{errorMsg}}</span>
            }
          </div>
        }
      </div>
      <button
        type="submit"
        [disabled]="verifyEmail.invalid"
        class="btn btn-main"
      >
        Verify Email
      </button>
    </form>
    <!--submit code  -->
  } @else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyEmailCodeSubmit()">
  <div class="mb-3">
    <label for="resetCode" class="form-label">Verification Code</label>
    <input 
      type="text" 
      id="resetCode"
      inputmode="numeric"
      maxlength="7"
      formControlName="resetCode" 
      class="form-control" 
      placeholder="Enter code" 
    />
  </div>
        @if (
          verifyCode.get("resetCode")?.invalid && verifyCode.get("resetCode")?.touched
        ) {
          <div class="text-danger small mt-1">
            @if (verifyCode.get("resetCode")?.errors?.["required"]) {
              <span>code is required.</span>
            }
            @if (verifyCode.get("resetCode")?.errors?.["pattern"]) {
              <span>Please enter a valid code.</span>
            }
          </div>
        }
  <button type="submit" [disabled]="verifyCode.invalid" class="btn btn-primary w-100">
    Verify Code
  </button>
</form>
  } @else if (step == 3) {
    <form
      [formGroup]="resetPassword"
      novalidate
      (ngSubmit)="resetPasswordSubmit()"
      class="bg-main-light rounded-4 shadow p-3"
    >
      <!-- Email (hidden, since it's already known from step 1) -->
<label for="email" class="form-label fw-semibold">Email</label>
    <input 
      type="email" 
      id="email"
      formControlName="email" 
      readonly 
      tabindex="-1"
      class="form-control-plaintext text-muted border-bottom fw-bold px-2" 
    />
      <!-- New Password -->
      <div class="my-2">
        <label for="newPassword">New Password</label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          class="form-control"
          [class.is-invalid]="
            resetPassword.get('newPassword')?.invalid &&
            resetPassword.get('newPassword')?.touched
          "
        />

        @if (
          resetPassword.get('newPassword')?.invalid &&
          resetPassword.get('newPassword')?.touched
        ) {
          <div class="text-danger small mt-1">
            @if (resetPassword.get('newPassword')?.errors?.['required']) {
              <span>New password is required.</span>
            }
            @if (resetPassword.get('newPassword')?.errors?.['pattern']) {
              <span>Password must be at least 6 characters, with no spaces.</span>
            }
          </div>
        }
      </div>

      <button
        type="submit"
        [disabled]="resetPassword.invalid"
        class="btn btn-main"
      >
        Reset Password
      </button>
    </form>
  }

</section>
